.head-btn {
    margin-top: 15px;
}
@media (max-width: 768px) {
    .m-portlet .m-portlet__body {
        padding: 0.2rem 0.2rem !important;
    }
    .m-body .m-content {
        padding: 0 5px 5px !important;
    }
    .m-subheader {

        margin: 0 5px 0 5px !important;
    }
}
.marvel-device{
    background-image: url(/img/tel.png);
    width: 300px;
    height: 582px;
    padding: 58px 25px 82px 25px;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    margin: 0 auto;
}

.marvel-device:not(.no-content) div {
    display: none;
}
.marvel-device.no-content {
    position: relative;
}
.marvel-device.no-content div{
    position: absolute;
    top: 57px;
    right: 25px;
    bottom: 79px;
    left: 25px;
    padding-top: 50%;
    background: #fff;
    color: #232323;
    text-align: center;
}
.marvel-device.no-content iframe {
    display: none;
}
.table tr th{
    background-color: #f0eeeede;
}
.m-portlet .m-portlet__body {
    padding: 0.2rem 0.2rem !important;
}
.datepicker-dropdown {
    z-index: 9999 !important;
}
.select2-container {
    min-width: 180px;
    width:100% !important;
}
h5.col-md-12 {
    background: #f4f4f4;
    flex: 0 0 100%;
}
.m-brand .m-brand__tools .m-brand__toggler span, .m-brand .m-brand__tools .m-brand__toggler span:after,.m-brand .m-brand__tools .m-brand__toggler span:before {
    background: white !important;
}
.modal .modal-content .modal-body {
    padding: 25px;
    color: black;
}
.m-stack.m-stack--ver.m-stack--desktop {
    border-bottom: solid 1px orange;
}
.fc-unthemed .fc-event .fc-content, .fc-unthemed .fc-event-dot .fc-content {
    padding: 0.55rem 0.55rem .55rem 0.55rem !important;
}
.mb-150 {
    margin-bottom: 150px;
}
.m-subheader {
    padding: 12px 0px 12px 30px;
    z-index: 2;
    background: #181818;
    color: #ffa726;
    margin: 30px 30px 0px 30px;

}
.datepicker{
    width:auto !important;
}
.m-subheader__title {
    color:#ffa726 !important;
}
.m-form__actions {
    margin-top: 15px;
}
.m-body .m-content {
    padding: 0px 30px 30px;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: #e38f00;
}


ul.category-list li {
    list-style: none;
    margin-bottom: 10px;
}
.m-portlet.m-portlet--bordered-semi .m-portlet__head {


    background-color: #e38f00 !important;;
    color:#5b5a5a !important;
}
.m-portlet .m-portlet__head .m-portlet__head-text {
    color: white;
}
body{
    color:white !important;
}
.m-brand .m-brand__logo .m-brand__logo-wrapper img{
    max-height: 100%;
    width: 70px;
}
.m-portlet .m-portlet__head .bg-primary{
    background: #e38f00; !important;
}
.m-portlet.m-portlet--primary.m-portlet--head-solid-bg .m-portlet__head {
    background-color: #e38f00 !important;
    border-color: #e38f00 !important;
}

.m-form .m-form__actions.m-form__actions--solid {
    background-color: #e38f00 !important;
    border-color: #f7f8fa;
}
.m-form .m-form__actions {
    padding: 15px !important;
}
.nav.nav-pills .nav-link  {
    color: #fff;
    padding: 15px !important;
    background: #BDBDBD;

}
.nav.nav-pills .nav-link.active {
    color: #fff;
    background: #e38f00;
}
.btn-success {
    color: #fff;
    background-color: #66BB6A !important;
    border-color: #4CAF50 !important;;
}


.btn-warning {
    color: #fff !important;
    background-color: #FFA726 !important;
    border-color: #FFA726 !important;
}
.modal-dialog .modal-header {
    background-color: #00c851;
}
.modal-dialog .modal-header {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
}
.modal .modal-content .modal-header .modal-title {
    color: #ffffff !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #575962 !important;
    font-size: 1.1em;
    font-weight: 400;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: center !important;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.form-control, .form-control[readonly] {
    border-color: #ebedf2;
    font-size: 1.1em !important;
    color: #575962;
}

.custom-file-label::after {

    content: "Tallózás" !important;

}
.has-danger .custom-file .custom-file-label {
    border-color: #e38f00;
    color: #575962;
}
.m-page--fluid .m-header, .m-page--wide .m-header {
    background-color: #181818;
}
@media (min-width: 992px) {
    .modal-lg {
        max-width: 70% !important;
    }
}
.m-brand {

    background-color: #181818 !important;
}
.bg-primary {
    background-color: #a3a2a2!important;
}
.m-aside-menu.m-aside-menu--skin-dark {
    background-color: #191919 !important
}
.m-aside-left.m-aside-left--skin-dark {
    background-color: #191919 !important
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text  {
    color: white !important;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
     color: #e38f00 ;
 }
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link {
    background-color: #e38f00 !important;

}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__section .m-menu__section-text {
    color: #8a8b8b !important;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon {

    color: #ffffff !important;
}
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-icon {
    color: #e38f00 !important;
}
